In [1]:
import requests
from dotenv import load_dotenv
import os
import pandas as pd
import numpy as np
import pymysql
import time
import sqlalchemy as alch
from pymongo import MongoClient
from datetime import datetime
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import functions as fnc

In [94]:
coordinates = pd.read_csv('data/Barcelona_coordinates.csv')

In [2]:
load_dotenv()
MY_APY_KEY = os.getenv('API_KEY')
payload={}
headers = {}

# Scrapping with Google Maps API

### Extract all Restaurants in Barcelona

In [3]:
def norm_req(i, radius, API_KEY, total_req):
    """
    Sends a normalized request to the Google Places API to search for nearby restaurants based on the provided location and radius.

    Args:
        i (str): The location coordinates in the format "latitude%2Clongitude".
        radius (int): The radius (in meters) within which to search for restaurants.
        API_KEY (str): The API key to access the Google Places API.
        total_req (int): The total number of requests made so far.

    Returns:
        requests.Response: The response object containing the result of the API request.
    """
    url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={i}&radius={radius}&type=restaurantes&keyword=restaurant&key={API_KEY}"
    response = requests.request("GET", url, headers=headers, data=payload)
    total_req += 1
    return response

In [4]:
def next_page_req(response, APY_KEY, total_req):
    """
    Sends a request to the Google Places API to retrieve the next page of results based on the provided response object. The previous request
    can return up to 60 results, organized in 3 pages with 20 results each. If that is the case, the previous request will contain the argument
    'next_page_toke'. If not, this argument will not be on the resposne

    Args:
        response (requests.Response): The response object from the previous API request.
        API_KEY (str): The API key to access the Google Places API.
        total_req (int): The total number of requests made so far.

    Returns:
        requests.Response: The response object containing the result of the API request for the next page.
    """
    time.sleep(5)
    next_page = response.json()['next_page_token']
    url = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken={next_page}&key={APY_KEY}'
    response = requests.request("GET", url, headers=headers, data=payload)
    total_req += 1
    return response

In [5]:
def appending_responses(response, business_type, location, name, place_id, raiting, price_level, user_raitings_total, vicinity):
    """
    Extracts specific information from the response object and appends it to the corresponding lists.

    Args:
        response (requests.Response): The response object from the API request.
        business_type (list): The list to store the business status of each result.
        location (list): The list to store the location of each result.
        name (list): The list to store the name of each result.
        place_id (list): The list to store the place ID of each result.
        rating (list): The list to store the rating of each result.
        price_level (list): The list to store the price level of each result.
        user_ratings_total (list): The list to store the total number of user ratings for each result.
        vicinity (list): The list to store the vicinity (address or neighborhood) of each result.

    Returns:
        tuple: A tuple containing the updated lists of business_type, location, name, place_id, rating,
               price_level, user_ratings_total, and vicinity.
    """
    for i in response.json()['results']:
        try:
            business_type.append(i['business_status'])
        except KeyError:
            business_type.append(np.nan)
        try:
            location.append(i['geometry']['location'])
        except KeyError:
            location.append(np.nan)
        try:
            name.append(i['name'])
        except KeyError:
            name.append(np.nan)
        try:
            place_id.append(i['place_id'])
        except KeyError:
            place_id.append(np.nan)
        try:
            raiting.append(i['rating'])
        except KeyError:
            raiting.append(np.nan)
        try:
            price_level.append(i['price_level'])
        except KeyError:
            price_level.append(np.nan)
        try:
            user_raitings_total.append(i['user_ratings_total'])
        except KeyError:
            user_raitings_total.append(np.nan)
        try:
            vicinity.append(i['vicinity'])
        except:
            vicinity.append(np.nan)
    return business_type, location, name, place_id, raiting, price_level, user_raitings_total, vicinity

In [ ]:
radius = 50
total_req = 0

business_type = []
location = []
name = []
place_id = []
raiting = []
price_level = []
user_raitings_total = []
vicinity = []
total_req = 0

for j in coordinates.columns[:1]:
    for i in coordinates[j][:2]:
        response = norm_req(i, radius, MY_APY_KEY, total_req)
        appending_responses(response)
        try:
            response = next_page_req(response, MY_APY_KEY, total_req)
            appending_responses(response)
            try:
                response = next_page_req(response, MY_APY_KEY, total_req)
                appending_responses(response)
            except:
                pass
        except:
            pass

In [39]:
my_data = {
    'name': name,
    'place_id': place_id,
    'business_status': business_type,
    'location': location,
    'raiting': raiting,
    'price_level': price_level,
    'total_reviews': user_raitings_total,
    'direction': vicinity
}
my_data = pd.DataFrame(my_data)

my_data = my_data.drop_duplicates(subset=['place_id', 'location']) # Dropping same restaurant in case I scrapped twice
my_data['latitud'] = my_data['location'].apply(lambda x: x.split(",")[0].split(":")[1].strip()) #Isolating the latitud
my_data['longitud'] = my_data['location'].apply(lambda x: x.split(",")[1].split(":")[1].strip()[:-1]) #Isolating the longitud
my_data.drop(columns='location', inplace=True)

##### Getting the neightbourhood of each restaurant (using Mongo)

In [186]:
client = MongoClient("localhost:27017")
db = client["Search_Restaurants"]
df_distritos = db.get_collection("Distritos")

In [ ]:
client = MongoClient("localhost:27017")
db = client["Search_Restaurants"]
df_barrios = db.get_collection("Neightbours")

In [113]:
def get_barrios(df, long, lat):
    """
    Retrieves the name of the neighborhood (barrio) that intersects with the specified coordinates.

    Parameters:
    - lat (float): Latitude of the location.
    - long (float): Longitude of the location.

    Returns:
    - str: The name of the neighborhood (barrio) that intersects with the specified coordinates.
           If no intersection is found, it returns "Not found".
    """
    my_position = {"type": "Point", "coordinates": [long, lat]} # o al revés

    result = df.find_one(
            {"geometry": 
                    {"$geoIntersects": 
                        {"$geometry": my_position}}
            })
    try:
        return result["properties"]["NOM"]
    except:
        return "Not found"

In [94]:
my_data['neightbour'] = my_data.apply(lambda row: get_barrios(df_barrios, row['longitud'], row['latitud']), axis=1)
my_data['distritos'] = my_data.apply(lambda row: get_barrios(df_distritos, row['longitud'], row['latitud']), axis=1)

In [197]:
my_data.to_csv('data/barc_restaurants.csv')

### Get reviews details

In [ ]:
restaurants = pd.read_csv('barc_restaurants.csv')
place_reviews = {'place_id':[], 'reviews': [], 'reviews_rating': [], 'time': []}

count_yes = 0
count_no = 0
n = 0
for i in restaurants['place_id']:
    url = f"https://maps.googleapis.com/maps/api/place/details/json?place_id={i}&fields=reviews&language=en&reviews_no_translations=false&key={MY_APY_KEY}"
    response = requests.request("GET", url, headers=headers, data=payload)
    try:
        for j in response.json()['result']['reviews']:
            place_reviews['place_id'].append(i)
            place_reviews['reviews'].append(j['text'])
            place_reviews['reviews_rating'].append(j['rating'])
            place_reviews['time'].append(j['time'])
        count_yes += 1
        print('y', count_yes)
    except KeyError:
        place_reviews['place_id'].append(i)
        place_reviews['reviews'].append('No reviews available')
        place_reviews['reviews_rating'].append(np.nan)
        place_reviews['time'].append(np.nan)
        count_no+=1
        print('n', count_no)
    if (count_no+count_yes)%100 == 0:
        n+=1
        to_write = pd.DataFrame(place_reviews)
        to_write.to_csv(f'restaurants_reviews{n}.csv')
    else:
        pass

place_reviews = pd.DataFrame(place_reviews)
place_reviews.to_csv('data/restaurants_reviews.csv')

### Get extra details

In [ ]:
days = {
    '0': 'sun_hours'
    ,'1': 'mon_hours'
    ,'2': 'tue_hours'
    ,'3': 'wed_hours'
    ,'4': 'thu_hours'
    ,'5': 'fri_hours'
    ,'6': 'sat_hours'

}

restaurants = pd.read_csv('barc_restaurants.csv')
place_details = {'place_id':[], 'dine_in': [], 'reservable': [], 'serves_beer': [], 'serves_wine' :[], 'vegeterian': [], 'takeout': [], 'wheel_chair_acc': [], 
                 'mon_hours': [], 'tue_hours': [], 'wed_hours': [], 'thu_hours': [], 'fri_hours': [], 'sat_hours': [], 'sun_hours': []}

for i in restaurants['place_id']:
    url = f"https://maps.googleapis.com/maps/api/place/details/json?place_id={i}&fields=wheelchair_accessible_entrance%2Cdine_in%2Creservable%2Cserves_vegetarian_food%2Ctakeout%2Cserves_beer%2Cserves_wine%2Copening_hours&key={MY_APY_KEY}"
    response1 = requests.request("GET", url, headers=headers, data=payload)
    try:
        response = response1.json()['result']
        place_details['place_id'].append(i)
        try:
            place_details['dine_in'].append(response['dine_in'])
        except KeyError:
            place_details['dine_in'].append(np.nan)
        try:    
            place_details['reservable'].append(response['reservable'])
        except KeyError:
            place_details['reservable'].append(np.nan)
        try:
            place_details['serves_beer'].append(response['serves_beer'])
        except KeyError:
            place_details['serves_beer'].append(np.nan)
        try:
            place_details['serves_wine'].append(response['serves_wine'])
        except KeyError:
            place_details['serves_wine'].append(np.nan)
        try:
            place_details['vegeterian'].append(response['serves_vegetarian_food'])
        except KeyError:
            place_details['vegeterian'].append(np.nan)
        try:
            place_details['takeout'].append(response['takeout'])
        except KeyError:
            place_details['takeout'].append(np.nan)
        try:
            place_details['wheel_chair_acc'].append(response['wheelchair_accessible_entrance'])
        except KeyError:
            place_details['wheel_chair_acc'].append(np.nan)    
        count = 0
        try:
            a = response['opening_hours']['weekday_text']
            for j in response['opening_hours']['weekday_text']:
                place_details[days[str(count)]].append(j.split(": ", 1)[1].replace('\u202f', '').replace('\u2009', ''))
                count += 1
        except:
            for j in range(7):
                place_details[days[str(j)]].append(np.nan)
    except:
        pass

place_details = pd.DataFrame(place_details)

place_details['dine_in'] = place_details['dine_in'].fillna('Maybe')
place_details['vegeterian'] = place_details['vegeterian'].fillna('Maybe')
place_details['wheel_chair_acc'] = place_details['wheel_chair_acc'].fillna('Maybe')
place_details['reservable'] = place_details['reservable'].fillna('Maybe')
place_details['serves_beer'] = place_details['serves_beer'].fillna('Maybe')
place_details['serves_wine'] = place_details['serves_wine'].fillna('Maybe')
place_details['takeout'] = place_details['takeout'].fillna('Maybe')

place_details['dine_in'].replace({'1.0': 'Yes', '0.0': 'No'}, inplace=True)
place_details['reservable'].replace({'1.0': 'Yes', '0.0': 'No'}, inplace=True)
place_details['serves_beer'].replace({'1.0': 'Yes', '0.0': 'No'}, inplace=True)
place_details['serves_wine'].replace({'1.0': 'Yes', '0.0': 'No'}, inplace=True)
place_details['vegeterian'].replace({'1.0': 'Yes', '0.0': 'No'}, inplace=True)
place_details['takeout'].replace({1.0: 'Yes', 0.0: 'No'}, inplace=True)
place_details['wheel_chair_acc'].replace({'1.0': 'Yes', '0.0': 'No'}, inplace=True)

place_details.to_csv('data/place_details.csv')

# Connection with SQL

In [2]:
def create_connection (schema):
    """
    Creates a connection to a MySQL database using the provided schema, table name, and DataFrame.

    Args:
        schema (str): The name of the database schema.
        table_name (str): The name of the table to connect to.
        df (pandas.DataFrame): The DataFrame containing the data to be inserted into the table.

    Returns:
        sqlalchemy.engine.Engine: The engine object representing the database connection.
    """
    dbName = schema
    password = os.getenv('workbench_pass')
    connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
    engine = alch.create_engine(connectionData)
    return engine

In [3]:
def upload_data_bulky(df, table_name, schema):
    """
    Uploads a DataFrame to a SQL database table using the specified schema.

    Parameters:
        df (pandas.DataFrame): The DataFrame to be uploaded.
        table_name (str): The name of the table in the database.
        schema (str): The schema of the database connection.

    Returns:
        None
    """

    df.to_sql(con=create_connection(schema), name=table_name, if_exists='replace')

In [205]:
df_restaurants = pd.read_csv('data/barc_restaurants.csv')
df_restaurants = df_restaurants.drop(columns=['index'])
df_restaurants.to_sql(con=create_connection('search_restaurants'), name='restaurants_details', if_exists='replace')

5023

In [105]:
df_reviews = pd.read_csv('data/restaurants_reviews.csv', encoding='latin1')
df_reviews = df_reviews.drop(columns=['Unnamed: 0', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'])
df_reviews.to_sql(con=create_connection('search_restaurants'), name='restaurants_reviews', if_exists='replace')

24150

In [240]:
df_details = pd.read_csv('data/place_details.csv')
df_details = df_details.drop(columns=['index'])
df_details.to_sql(con=create_connection('search_restaurants'), name='restaurants_more_details', if_exists='replace')

5019

# Updating hours columns

# Function to select the restaurant

In [4]:
df_reviews = pd.read_sql_query("""
SELECT * FROM restaurants_reviews""", create_connection('search_restaurants'), index_col='index')
df_details = pd.read_sql_query("""
SELECT * FROM restaurants_details""", create_connection('search_restaurants'), index_col='index')
df_more_details = pd.read_sql_query("""
SELECT * FROM restaurants_more_details""", create_connection('search_restaurants'), index_col='index')

### Manipulating hours columns

In [27]:
df_2 = pd.read_csv('data/place_details.csv')
df_2

,index,place_id,dine_in,reservable,serves_beer,serves_wine,vegeterian,takeout,wheel_chair_acc,tue_hours,wed_hours,thu_hours,fri_hours,sat_hours,sun_hours,mon_hours
0,0,ChIJUwcqio-YpBIRranOacUHR2o,Yes,Yes,Yes,Yes,No,Yes,Yes,8:30AM–4:00PM,8:30AM–4:00PM,8:30AM–4:00PM,8:30AM–4:00PM,Closed,Closed,8:30AM–4:00PM
1,1,ChIJW-TUp4-YpBIRLlEDpClK2tI,Yes,Yes,Yes,Yes,No,Yes,Maybe,9:30AM–11:00PM,9:30AM–11:00PM,9:30AM–11:00PM,9:30AM–11:00PM,9:30AM–11:00PM,9:30AM–4:30PM,9:30AM–4:30PM
2,2,ChIJ39UxdOIVYA0RUMyAsJv1aRA,Yes,Yes,Yes,Yes,No,Yes,Yes,9:00AM–4:00PM,"9:00AM–4:00PM, 8:30–10:30PM","9:00AM–4:00PM, 8:30–10:30PM","9:00AM–4:00PM, 8:30–10:30PM",1:00–4:00PM,Closed,9:00AM–4:00PM
3,3,ChIJ7Qm8VZ6ZpBIRoG7puuQfZ_w,Yes,Yes,Yes,Yes,Maybe,Yes,Yes,9:00AM–5:00PM,9:00AM–5:00PM,9:00AM–5:00PM,9:00AM–5:00PM,9:00AM–5:00PM,Closed,Closed
4,4,ChIJoZOZ24-YpBIRDG0Mv7ohC-A,Yes,Maybe,Yes,Yes,Maybe,Maybe,Maybe,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5014,5014,ChIJx8_n31SjpBIRBs2-C3IS2g0,Yes,Yes,Yes,Yes,No,Yes,Yes,1:00PM–1:00AM,1:00PM–1:00AM,1:00PM–1:00AM,1:00PM–1:00AM,1:00PM–1:00AM,1:00PM–1:00AM,1:00PM–1:00AM
5015,5015,ChIJ3ToXJvKipBIR4pBH0tjZeig,Yes,Yes,Yes,Yes,No,Yes,Yes,8:00AM–12:00AM,8:00AM–12:00AM,8:00AM–12:00AM,9:00AM–12:00AM,9:00AM–12:00AM,9:00AM–12:00AM,8:00AM–12:00AM
5016,5016,ChIJN8CawzijpBIREzJ4338AGJ8,Yes,Yes,Yes,Yes,Maybe,Maybe,Yes,Closed,Closed,Closed,Closed,Closed,1:00–4:00PM,Closed
5017,5017,ChIJ-0YyNOuipBIRH4aW80q-uU0,Yes,Yes,Yes,Yes,Yes,Yes,No,"12:00–4:30PM, 7:00–11:30PM","12:00–4:30PM, 7:00–11:30PM","12:00–4:30PM, 7:00–11:30PM","12:00–4:30PM, 7:00–11:30PM","12:00–4:30PM, 7:00–11:30PM",Closed,Closed
5018,5018,ChIJAweFnpSipBIRBbwmnDuS5mA,Yes,Yes,Yes,Yes,Maybe,No,Yes,1:00PM–1:00AM,1:00PM–1:00AM,1:00PM–1:00AM,1:00PM–1:00AM,1:00PM–1:00AM,1:00PM–1:00AM,1:00PM–1:00AM

In [25]:
for i in df_2.columns[9:]:
    df_2[i] = df_2[i].apply(lambda x: fnc.converting_times_to_ranges(x))

In [26]:
df_2.sample()

,index,place_id,dine_in,reservable,serves_beer,serves_wine,vegeterian,takeout,wheel_chair_acc,tue_hours,wed_hours,thu_hours,fri_hours,sat_hours,sun_hours,mon_hours
2530,2530,ChIJr99yt-2ipBIRQY0heTPQeYg,Yes,Yes,Yes,Yes,Maybe,Yes,Yes,"[13.5, 13.75, 14.0, 14.25, 14.5, 14.75, 15.0, ...","[13.5, 13.75, 14.0, 14.25, 14.5, 14.75, 15.0, ...","[13.5, 13.75, 14.0, 14.25, 14.5, 14.75, 15.0, ...","[13.5, 13.75, 14.0, 14.25, 14.5, 14.75, 15.0, ...","[13.5, 13.75, 14.0, 14.25, 14.5, 14.75, 15.0, ...","[13.5, 13.75, 14.0, 14.25, 14.5, 14.75, 15.0, ...","[13.5, 13.75, 14.0, 14.25, 14.5, 14.75, 15.0, ..."

### Selector function

In [22]:
df = df_details.merge(df_more_details, how='inner', on='place_id')

In [23]:
res = fnc.restaurant_selector(df, max_price=2, day='Saturday', time=1, vegetarian=['Maybe', 'No'], raiting=3.9, total_reviews=1500)
res

,name,direction,raiting,price_level,total_reviews,neightbour,distritos,latitud,longitud
0,Mirablau,"Plaça del Doctor Andreu, s/n, Barcelona",4.2,2.0,9157,Sant Gervasi - la Bonanova,Sarrià-Sant Gervasi,41.416044,2.131884
1,Sants Beer,"Carrer de Sants, 89, Barcelona",3.9,2.0,2646,Sants,Sants-Montjuïc,41.375285,2.136241
2,Bassy,"Carrer de Calàbria, 230, Barcelona",4.2,1.0,1837,la Nova Esquerra de l'Eixample,Eixample,41.385891,2.147003
3,LaBarra Westside - Restaurante Tapas,"Carrer del Comte d'Urgell, 240, Barcelona",3.9,2.0,3699,l'Antiga Esquerra de l'Eixample,Eixample,41.390429,2.147956
4,PATRÓN,"Travessera de Gràcia, 44, Barcelona",4.0,2.0,4481,Sant Gervasi - Galvany,Sarrià-Sant Gervasi,41.395450,2.148772
5,Happy Rock,"Gran Via de les Corts Catalanes, 373 - 385, Ba...",4.0,2.0,1537,la Nova Esquerra de l'Eixample,Eixample,41.376230,2.149686
6,L'Enric,"C/ d'Enric Granados, 41, Barcelona",4.2,2.0,1598,l'Antiga Esquerra de l'Eixample,Eixample,41.390059,2.159154
7,4 Latas Granados,"C/ d'Enric Granados, 56, Barcelona",3.9,2.0,1888,l'Antiga Esquerra de l'Eixample,Eixample,41.391537,2.157667
8,"Colmado Barcelona, Restaurant Gastronòmic, Tap...","C/ de Provença, 236, Barcelona",3.9,2.0,1818,l'Antiga Esquerra de l'Eixample,Eixample,41.391704,2.157666
9,Taberna Cu-Cut,"C/ d'Enric Granados, 68, Barcelona",4.1,2.0,1800,l'Antiga Esquerra de l'Eixample,Eixample,41.392199,2.156806

In [159]:
def display_map(df):
    map_1 = Map(location=[41.397356, 2.179490], zoom_start=14)
    for i in df.index:
        restaurant = Marker(location = [df['latitud'][i], df['longitud'][i]], tooltip=(df['name'][i]+", raiting: "+str(df['raiting'][i])+", reviews: "+str(df['total_reviews'][i])+", price level: "+ str(df['price_level'][i])))
        restaurant.add_to(map_1)
    return map_1

In [160]:
display_map(res)