In [208]:
import requests
from dotenv import load_dotenv
import os
import pandas as pd
import numpy as np
import pymysql
import time
import sqlalchemy as alch
from pymongo import MongoClient
from datetime import datetime
from nltk.tokenize import word_tokenize
import nltk

In [209]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\augus\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\augus\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [27]:
coordinates = pd.read_csv('Barcelona_coordinates.csv')

In [2]:
load_dotenv()
MY_APY_KEY = os.getenv('API_KEY')
payload={}
headers = {}

# Scrapping with Google Maps API

### Extract all Restaurants in Barcelona

In [3]:
def norm_req(i, radius, API_KEY, total_req):
    """
    Sends a normalized request to the Google Places API to search for nearby restaurants based on the provided location and radius.

    Args:
        i (str): The location coordinates in the format "latitude%2Clongitude".
        radius (int): The radius (in meters) within which to search for restaurants.
        API_KEY (str): The API key to access the Google Places API.
        total_req (int): The total number of requests made so far.

    Returns:
        requests.Response: The response object containing the result of the API request.
    """
    url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={i}&radius={radius}&type=restaurantes&keyword=restaurant&key={API_KEY}"
    response = requests.request("GET", url, headers=headers, data=payload)
    total_req += 1
    return response

In [4]:
def next_page_req(response, APY_KEY, total_req):
    """
    Sends a request to the Google Places API to retrieve the next page of results based on the provided response object. The previous request
    can return up to 60 results, organized in 3 pages with 20 results each. If that is the case, the previous request will contain the argument
    'next_page_toke'. If not, this argument will not be on the resposne

    Args:
        response (requests.Response): The response object from the previous API request.
        API_KEY (str): The API key to access the Google Places API.
        total_req (int): The total number of requests made so far.

    Returns:
        requests.Response: The response object containing the result of the API request for the next page.
    """
    time.sleep(5)
    next_page = response.json()['next_page_token']
    url = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken={next_page}&key={APY_KEY}'
    response = requests.request("GET", url, headers=headers, data=payload)
    total_req += 1
    return response

In [5]:
def appending_responses(response, business_type, location, name, place_id, raiting, price_level, user_raitings_total, vicinity):
    """
    Extracts specific information from the response object and appends it to the corresponding lists.

    Args:
        response (requests.Response): The response object from the API request.
        business_type (list): The list to store the business status of each result.
        location (list): The list to store the location of each result.
        name (list): The list to store the name of each result.
        place_id (list): The list to store the place ID of each result.
        rating (list): The list to store the rating of each result.
        price_level (list): The list to store the price level of each result.
        user_ratings_total (list): The list to store the total number of user ratings for each result.
        vicinity (list): The list to store the vicinity (address or neighborhood) of each result.

    Returns:
        tuple: A tuple containing the updated lists of business_type, location, name, place_id, rating,
               price_level, user_ratings_total, and vicinity.
    """
    for i in response.json()['results']:
        try:
            business_type.append(i['business_status'])
        except KeyError:
            business_type.append(np.nan)
        try:
            location.append(i['geometry']['location'])
        except KeyError:
            location.append(np.nan)
        try:
            name.append(i['name'])
        except KeyError:
            name.append(np.nan)
        try:
            place_id.append(i['place_id'])
        except KeyError:
            place_id.append(np.nan)
        try:
            raiting.append(i['rating'])
        except KeyError:
            raiting.append(np.nan)
        try:
            price_level.append(i['price_level'])
        except KeyError:
            price_level.append(np.nan)
        try:
            user_raitings_total.append(i['user_ratings_total'])
        except KeyError:
            user_raitings_total.append(np.nan)
        try:
            vicinity.append(i['vicinity'])
        except:
            vicinity.append(np.nan)
    return business_type, location, name, place_id, raiting, price_level, user_raitings_total, vicinity

In [ ]:
radius = 50
total_req = 0

business_type = []
location = []
name = []
place_id = []
raiting = []
price_level = []
user_raitings_total = []
vicinity = []
total_req = 0

for j in coordinates.columns[:1]:
    for i in coordinates[j][:2]:
        response = norm_req(i, radius, MY_APY_KEY, total_req)
        appending_responses(response)
        try:
            response = next_page_req(response, MY_APY_KEY, total_req)
            appending_responses(response)
            try:
                response = next_page_req(response, MY_APY_KEY, total_req)
                appending_responses(response)
            except:
                pass
        except:
            pass

In [39]:
my_data = {
    'name': name,
    'place_id': place_id,
    'business_status': business_type,
    'location': location,
    'raiting': raiting,
    'price_level': price_level,
    'total_reviews': user_raitings_total,
    'direction': vicinity
}
my_data = pd.DataFrame(my_data)

my_data = my_data.drop_duplicates(subset=['place_id', 'location']) # Dropping same restaurant in case I scrapped twice
my_data['latitud'] = my_data['location'].apply(lambda x: x.split(",")[0].split(":")[1].strip()) #Isolating the latitud
my_data['longitud'] = my_data['location'].apply(lambda x: x.split(",")[1].split(":")[1].strip()[:-1]) #Isolating the longitud
my_data.drop(columns='location', inplace=True)

my_data.to_csv('barc_restaurants.csv')

##### Getting the neightbourhood of each restaurant (using Mongo)

In [186]:
client = MongoClient("localhost:27017")
db = client["Search_Restaurants"]
df_distritos = db.get_collection("Distritos")

In [ ]:
client = MongoClient("localhost:27017")
db = client["Search_Restaurants"]
df_barrios = db.get_collection("Neightbours")

In [113]:
def get_barrios(df, long, lat):
    """
    Retrieves the name of the neighborhood (barrio) that intersects with the specified coordinates.

    Parameters:
    - lat (float): Latitude of the location.
    - long (float): Longitude of the location.

    Returns:
    - str: The name of the neighborhood (barrio) that intersects with the specified coordinates.
           If no intersection is found, it returns "Not found".
    """
    my_position = {"type": "Point", "coordinates": [long, lat]} # o al revés

    result = df.find_one(
            {"geometry": 
                    {"$geoIntersects": 
                        {"$geometry": my_position}}
            })
    try:
        return result["properties"]["NOM"]
    except:
        return "Not found"

In [94]:
my_data['neightbour'] = my_data.apply(lambda row: get_barrios(df_barrios, row['longitud'], row['latitud']), axis=1)
my_data['distritos'] = my_data.apply(lambda row: get_barrios(df_distritos, row['longitud'], row['latitud']), axis=1)

In [197]:
my_data.to_csv('barc_restaurants.csv')

### Get reviews details

In [ ]:
restaurants = pd.read_csv('barc_restaurants.csv')
place_reviews = {'place_id':[], 'reviews': [], 'reviews_rating': [], 'time': []}

count_yes = 0
count_no = 0
n = 0
for i in restaurants['place_id']:
    url = f"https://maps.googleapis.com/maps/api/place/details/json?place_id={i}&fields=reviews&language=en&reviews_no_translations=false&key={MY_APY_KEY}"
    response = requests.request("GET", url, headers=headers, data=payload)
    try:
        for j in response.json()['result']['reviews']:
            place_reviews['place_id'].append(i)
            place_reviews['reviews'].append(j['text'])
            place_reviews['reviews_rating'].append(j['rating'])
            place_reviews['time'].append(j['time'])
        count_yes += 1
        print('y', count_yes)
    except KeyError:
        place_reviews['place_id'].append(i)
        place_reviews['reviews'].append('No reviews available')
        place_reviews['reviews_rating'].append(np.nan)
        place_reviews['time'].append(np.nan)
        count_no+=1
        print('n', count_no)
    if (count_no+count_yes)%100 == 0:
        n+=1
        to_write = pd.DataFrame(place_reviews)
        to_write.to_csv(f'restaurants_reviews{n}.csv')
    else:
        pass

place_reviews = pd.DataFrame(place_reviews)
place_reviews.to_csv('restaurants_reviews.csv')

### Get extra details

In [ ]:
days = {
    '0': 'sun_hours'
    ,'1': 'mon_hours'
    ,'2': 'tue_hours'
    ,'3': 'wed_hours'
    ,'4': 'thu_hours'
    ,'5': 'fri_hours'
    ,'6': 'sat_hours'

}

restaurants = pd.read_csv('barc_restaurants.csv')
place_details = {'place_id':[], 'dine_in': [], 'reservable': [], 'serves_beer': [], 'serves_wine' :[], 'vegeterian': [], 'takeout': [], 'wheel_chair_acc': [], 
                 'mon_hours': [], 'tue_hours': [], 'wed_hours': [], 'thu_hours': [], 'fri_hours': [], 'sat_hours': [], 'sun_hours': []}

for i in restaurants['place_id']:
    url = f"https://maps.googleapis.com/maps/api/place/details/json?place_id={i}&fields=wheelchair_accessible_entrance%2Cdine_in%2Creservable%2Cserves_vegetarian_food%2Ctakeout%2Cserves_beer%2Cserves_wine%2Copening_hours&key={MY_APY_KEY}"
    response1 = requests.request("GET", url, headers=headers, data=payload)
    try:
        response = response1.json()['result']
        place_details['place_id'].append(i)
        try:
            place_details['dine_in'].append(response['dine_in'])
        except KeyError:
            place_details['dine_in'].append(np.nan)
        try:    
            place_details['reservable'].append(response['reservable'])
        except KeyError:
            place_details['reservable'].append(np.nan)
        try:
            place_details['serves_beer'].append(response['serves_beer'])
        except KeyError:
            place_details['serves_beer'].append(np.nan)
        try:
            place_details['serves_wine'].append(response['serves_wine'])
        except KeyError:
            place_details['serves_wine'].append(np.nan)
        try:
            place_details['vegeterian'].append(response['serves_vegetarian_food'])
        except KeyError:
            place_details['vegeterian'].append(np.nan)
        try:
            place_details['takeout'].append(response['takeout'])
        except KeyError:
            place_details['takeout'].append(np.nan)
        try:
            place_details['wheel_chair_acc'].append(response['wheelchair_accessible_entrance'])
        except KeyError:
            place_details['wheel_chair_acc'].append(np.nan)    
        count = 0
        try:
            a = response['opening_hours']['weekday_text']
            for j in response['opening_hours']['weekday_text']:
                place_details[days[str(count)]].append(j.split(": ", 1)[1].replace('\u202f', '').replace('\u2009', ''))
                count += 1
        except:
            for j in range(7):
                place_details[days[str(j)]].append(np.nan)
    except:
        pass

place_details = pd.DataFrame(place_details)
place_details.to_csv((f'place_details.csv'))

# Connection with SQL

In [199]:
def create_connection (schema):
    """
    Creates a connection to a MySQL database using the provided schema, table name, and DataFrame.

    Args:
        schema (str): The name of the database schema.
        table_name (str): The name of the table to connect to.
        df (pandas.DataFrame): The DataFrame containing the data to be inserted into the table.

    Returns:
        sqlalchemy.engine.Engine: The engine object representing the database connection.
    """
    dbName = schema
    password = os.getenv('workbench_pass')
    connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
    engine = alch.create_engine(connectionData)
    return engine

In [200]:
def upload_data_bulky(df, table_name, schema):
    """
    Uploads a DataFrame to a SQL database table using the specified schema.

    Parameters:
        df (pandas.DataFrame): The DataFrame to be uploaded.
        table_name (str): The name of the table in the database.
        schema (str): The schema of the database connection.

    Returns:
        None
    """

    df.to_sql(con=create_connection(schema), name=table_name, if_exists='replace')

In [205]:
df_restaurants = pd.read_csv('barc_restaurants.csv')
df_restaurants = df.drop(columns=['index'])
df_restaurants.to_sql(con=create_connection('search_restaurants'), name='restaurants_details', if_exists='replace')

5023

In [105]:
df_reviews = pd.read_csv('restaurants_reviews.csv', encoding='latin1')
df_reviews = df_reviews.drop(columns=['Unnamed: 0', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'])
df_reviews.to_sql(con=create_connection('search_restaurants'), name='restaurants_reviews', if_exists='replace')

24150

In [12]:
df_details = pd.read_csv('place_details.csv')
df_details = df_details.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])
df_details.to_sql(con=create_connection('search_restaurants'), name='restaurants_more_details', if_exists='replace')

5019

# Updating hours columns

In [212]:
df_details = pd.read_sql_query("""
SELECT * FROM restaurants_more_details""", create_connection('search_restaurants'), index_col='index')

# Function to select the restaurant

In [220]:
df_reviews = pd.read_sql_query("""
SELECT * FROM restaurants_reviews""", create_connection('search_restaurants'), index_col='index')
df_details = pd.read_sql_query("""
SELECT * FROM restaurants_details""", create_connection('search_restaurants'), index_col='index')
df_more_details = pd.read_sql_query("""
SELECT * FROM restaurants_more_details""", create_connection('search_restaurants'), index_col='index')

### Manipulating hours columns

In [221]:
def convert_time_to_decimal(time_string):
    time_object = datetime.strptime(time_string, "%I:%M%p")
    hour = time_object.hour
    minute = time_object.minute
    decimal_time = hour + minute / 60.0

    return decimal_time

In [222]:
def spliting_times(my_range):
    period_start = my_range.split('–')[0]
    period_finish = my_range.split('–')[1]
    if period_start[-2:] == 'AM' or period_start[-2:] == 'PM':
        pass
    else:
        period_start += period_finish[-2:]
 
    period_start = convert_time_to_decimal(period_start)
    period_finish = convert_time_to_decimal(period_finish)

    if period_start > period_finish:
        range1 = np.arange(period_start, 24, 0.25)
        range2 = np.arange(0, period_finish, 0.25)
        range = np.concatenate((range1, range2))
    else:
        range = np.arange(period_start, period_finish, 0.25)
    return range

In [223]:
def converting_times_to_ranges(row):
    if row == None:
        return np.nan

    elif row == 'Closed':
        return ['Closed']
    
    else:
        try:
            period_1 = row.split(",")[0].strip()
            hours_opened = spliting_times(period_1)
        except:
            return ['Issue']

        try:
            period_2 = row.split(",")[1].strip()
            hours_opened_2 = spliting_times(period_2)
            hours_opened = np.concatenate((hours_opened, hours_opened_2))
        except IndexError:
            pass
        
        try:
            period_3 = row.split(",")[2].strip()
            hours_opened_3 = spliting_times(period_3)
            hours_opened = np.concatenate((hours_opened, hours_opened_3))
        except IndexError:
            pass

        return hours_opened

In [224]:
for i in df_more_details.columns[8:]:
    df_more_details[i] = df_more_details[i].apply(lambda x: converting_times_to_ranges(x))

### Selector function

In [228]:
df = df_details.merge(df_more_details, how='inner', on='place_id')

In [240]:
df.columns

Index(['name', 'place_id', 'business_status', 'raiting', 'price_level',
       'total_reviews', 'direction', 'latitud', 'longitud', 'neightbour',
       'distritos', 'dine_in', 'reservable', 'serves_beer', 'serves_wine',
       'vegeterian', 'takeout', 'wheel_chair_acc', 'mon_hours', 'tue_hours',
       'wed_hours', 'thu_hours', 'fri_hours', 'sat_hours', 'sun_hours'],
      dtype='object')

In [358]:
def restaurant_selector(df, raiting=None, min_price=None, max_price=None, total_reviews=None,
                        neightbour=None, district=None, dine_in=1, reservable=None,
                        serves_beer=None, serves_wine=None, vegetarian=None, takeout=None,
                        wheelchair_accessible=None, day=None, time=None, sorter=None, limit=10):

    days = {'Monday': 'mon_hours'
            ,'Tuesday': 'tue_hours'
            ,'Wednesday': 'wed_hours'
            ,'Thursday': 'tue_hours'
            ,'Friday': 'fri_hours'
            ,'Saturday': 'sat_hours'}
    
    sorter_ord = {'total_reviews': False
            , 'raiting': False
            , 'price_level': True}

    if raiting is not None:
        df = df[df['raiting'] >= raiting]
    if min_price is not None:
        df = df[df['price_level'] >= min_price]
    if max_price is not None:
        df = df[df['price_level'] <= max_price]
    if total_reviews is not None:
        df = df[df['total_reviews'] >= total_reviews]
    if neightbour is not None:
        df = df[df['neightbour'] == neightbour]
    if district is not None:
        df = df[df['district'] == district]
    if dine_in is not None:
        df = df[df['dine_in'] == dine_in]
    if reservable is not None:
        df = df[df['reservable'] == reservable]
    if serves_beer is not None:
        df = df[df['serves_beer'] == serves_beer]
    if serves_wine is not None:
        df = df[df['serves_wine'] == serves_wine]
    if vegetarian is not None:
        df = df[df['vegetarian'] == vegetarian]
    if takeout is not None:
        df = df[df['takeout'] == takeout]
    if wheelchair_accessible is not None:
        df = df[df['wheelchair_accessible'] == wheelchair_accessible]
    if day is not None:
        hours_column = days[day]
        df = df[df[hours_column].apply(lambda x: x != ['Closed'] if isinstance(x, list) else True)]
    if time is not None:
        if day is None:
            raise KeyError('Invalid hour. If an hour is passed, a day must be passed as well')
        else:
            df = df[df.apply(lambda row: isinstance(row[days[day]], np.ndarray) and time in row[days[day]] if day and days.get(day) else False, axis=1)]
    df = df.sort_values(by=sorter, ascending=sorter_ord[sorter])

    return df.head(limit)

In [360]:
res = restaurant_selector(df, day='Monday', time=18, raiting=4.2, total_reviews=1000, sorter='total_reviews')
res

,name,place_id,business_status,raiting,price_level,total_reviews,direction,latitud,longitud,neightbour,...,takeout,wheel_chair_acc,mon_hours,tue_hours,wed_hours,thu_hours,fri_hours,sat_hours,sun_hours,trial
2570,El Nacional Barcelona,ChIJM5FFbvKipBIRdWugDh577Ao,OPERATIONAL,4.4,2.0,28461,"Pg. de Gràcia, 24 Bis, Barcelona",41.390583,2.168391,la Dreta de l'Eixample,...,NaN,1.0,"[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...",False
1891,Cerveseria Catalana,ChIJ14DbPpKipBIROjfbj6-0FW0,OPERATIONAL,4.4,2.0,16955,"C/ de Mallorca, 236, Barcelona",41.392325,2.160852,la Dreta de l'Eixample,...,1.0,1.0,"[8.5, 8.75, 9.0, 9.25, 9.5, 9.75, 10.0, 10.25,...","[8.5, 8.75, 9.0, 9.25, 9.5, 9.75, 10.0, 10.25,...","[8.5, 8.75, 9.0, 9.25, 9.5, 9.75, 10.0, 10.25,...","[8.5, 8.75, 9.0, 9.25, 9.5, 9.75, 10.0, 10.25,...","[9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.7...","[9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.7...","[8.5, 8.75, 9.0, 9.25, 9.5, 9.75, 10.0, 10.25,...",False
3009,Colom Restaurant,ChIJb2HVzleipBIRsd7SIU8GRmE,OPERATIONAL,4.6,2.0,11394,"Carrer dels Escudellers, 33, Barcelona",41.379853,2.176500,el Barri Gòtic,...,1.0,1.0,"[12.5, 12.75, 13.0, 13.25, 13.5, 13.75, 14.0, ...","[12.5, 12.75, 13.0, 13.25, 13.5, 13.75, 14.0, ...","[12.5, 12.75, 13.0, 13.25, 13.5, 13.75, 14.0, ...","[12.5, 12.75, 13.0, 13.25, 13.5, 13.75, 14.0, ...","[12.5, 12.75, 13.0, 13.25, 13.5, 13.75, 14.0, ...","[12.5, 12.75, 13.0, 13.25, 13.5, 13.75, 14.0, ...","[12.5, 12.75, 13.0, 13.25, 13.5, 13.75, 14.0, ...",False
2054,Vinitus,ChIJ3XUCr0K5Z0ARbKq1CqAKgJQ,OPERATIONAL,4.4,2.0,10507,"C/ del Consell de Cent, 333, Barcelona",41.390028,2.164031,la Dreta de l'Eixample,...,1.0,1.0,"[11.0, 11.25, 11.5, 11.75, 12.0, 12.25, 12.5, ...","[11.0, 11.25, 11.5, 11.75, 12.0, 12.25, 12.5, ...","[11.0, 11.25, 11.5, 11.75, 12.0, 12.25, 12.5, ...","[11.0, 11.25, 11.5, 11.75, 12.0, 12.25, 12.5, ...","[11.0, 11.25, 11.5, 11.75, 12.0, 12.25, 12.5, ...","[11.0, 11.25, 11.5, 11.75, 12.0, 12.25, 12.5, ...","[11.0, 11.25, 11.5, 11.75, 12.0, 12.25, 12.5, ...",False
2202,Flax&Kale,ChIJ4XlZvPSipBIRiwFnM2-R_W8,OPERATIONAL,4.3,2.0,9566,"C/ dels Tallers, 74b, Barcelona",41.385134,2.165525,el Raval,...,1.0,1.0,"[9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.7...","[9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.7...","[9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.7...","[9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.7...","[9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.7...","[9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.7...","[9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.7...",False
230,Mirablau,ChIJ2yF9jhuYpBIRQB-hVdeVaJA,OPERATIONAL,4.2,2.0,9157,"Plaça del Doctor Andreu, s/n, Barcelona",41.416044,2.131884,Sant Gervasi - la Bonanova,...,NaN,1.0,"[11.0, 11.25, 11.5, 11.75, 12.0, 12.25, 12.5, ...","[11.0, 11.25, 11.5, 11.75, 12.0, 12.25, 12.5, ...","[11.0, 11.25, 11.5, 11.75, 12.0, 12.25, 12.5, ...","[11.0, 11.25, 11.5, 11.75, 12.0, 12.25, 12.5, ...","[11.0, 11.25, 11.5, 11.75, 12.0, 12.25, 12.5, ...","[11.0, 11.25, 11.5, 11.75, 12.0, 12.25, 12.5, ...","[11.0, 11.25, 11.5, 11.75, 12.0, 12.25, 12.5, ...",False
2403,Bacoa Burger Universitat | Hamburguesería en B...,ChIJqTefn_OipBIRqXyvdzN0QUk,OPERATIONAL,4.4,2.0,8883,"Ronda de la Univ., 31, Barcelona",41.387081,2.167179,la Dreta de l'Eixample,...,1.0,1.0,"[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...",False
1690,La Flauta,ChIJbUeDbIyipBIRhf2n9OIXpig,OPERATIONAL,4.5,2.0,8733,"C/ d'Aribau, 23, Barcelona",41.386901,2.161138,l'Antiga Esquerra de l'Eixample,...,1.0,1.0,"[8.0, 8.25, 8.5, 8.75, 9.0, 9.25, 9.5, 9.75, 1...","[8.0, 8.25, 8.5, 8.75, 9.0, 9.25, 9.5, 9.75, 1...","[8.0, 8.25, 8.5, 8.75, 9.0, 9.25, 9.5, 9.75, 1...","[8.0, 8.25, 8.5, 8.75, 9.0, 9.25, 9.5, 9.75, 1...","[9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.7...",[Closed],"[8.0, 8.25, 8.5, 8.75, 9.0, 9.25, 9.5, 9.75, 1...",True
2413,König Barcelona Centre,ChIJzyCpuvOipBIR81q13eFJsyw,OPERATIONAL,4.2,1.0,8076,"Rambla de Catalunya, 5, Barcelona",41.387588,2.167674,la Dreta de l'Eixample,...,1.0,1.0,"[9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.7...","[9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.7...","[9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.7...","[9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.7...","[9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.7...","[9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.7...","[9.0, 9.25, 9.5, 9.75, 10.0, 10.25, 10.5, 10.7...",False
3431,Restaurant El Ñaño Bellaterra,ChIJsfd9xN-ipBIRcsHHXwZMFBA,OPERATIONAL,4.4,1.0,7759,"C/ de Lepant, 203, Barcelona",41.401294,2.180668,el Fort Pienc,...,1.0,1.0,"[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...","[12.0, 12.25, 12.5, 12.75, 13.0, 13.25, 13.5, ...",False