In [189]:
import requests
from dotenv import load_dotenv
import os
import pandas as pd
import numpy as np
import pymysql
import time
import sqlalchemy as alch
from pymongo import MongoClient
from datetime import datetime

In [27]:
coordinates = pd.read_csv('Barcelona_coordinates.csv')

In [2]:
load_dotenv()
MY_APY_KEY = os.getenv('API_KEY')
payload={}
headers = {}

# Scrapping with Google Maps API

### Extract all Restaurants in Barcelona

In [3]:
def norm_req(i, radius, API_KEY, total_req):
    """
    Sends a normalized request to the Google Places API to search for nearby restaurants based on the provided location and radius.

    Args:
        i (str): The location coordinates in the format "latitude%2Clongitude".
        radius (int): The radius (in meters) within which to search for restaurants.
        API_KEY (str): The API key to access the Google Places API.
        total_req (int): The total number of requests made so far.

    Returns:
        requests.Response: The response object containing the result of the API request.
    """
    url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={i}&radius={radius}&type=restaurantes&keyword=restaurant&key={API_KEY}"
    response = requests.request("GET", url, headers=headers, data=payload)
    total_req += 1
    return response

In [4]:
def next_page_req(response, APY_KEY, total_req):
    """
    Sends a request to the Google Places API to retrieve the next page of results based on the provided response object. The previous request
    can return up to 60 results, organized in 3 pages with 20 results each. If that is the case, the previous request will contain the argument
    'next_page_toke'. If not, this argument will not be on the resposne

    Args:
        response (requests.Response): The response object from the previous API request.
        API_KEY (str): The API key to access the Google Places API.
        total_req (int): The total number of requests made so far.

    Returns:
        requests.Response: The response object containing the result of the API request for the next page.
    """
    time.sleep(5)
    next_page = response.json()['next_page_token']
    url = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken={next_page}&key={APY_KEY}'
    response = requests.request("GET", url, headers=headers, data=payload)
    total_req += 1
    return response

In [5]:
def appending_responses(response, business_type, location, name, place_id, raiting, price_level, user_raitings_total, vicinity):
    """
    Extracts specific information from the response object and appends it to the corresponding lists.

    Args:
        response (requests.Response): The response object from the API request.
        business_type (list): The list to store the business status of each result.
        location (list): The list to store the location of each result.
        name (list): The list to store the name of each result.
        place_id (list): The list to store the place ID of each result.
        rating (list): The list to store the rating of each result.
        price_level (list): The list to store the price level of each result.
        user_ratings_total (list): The list to store the total number of user ratings for each result.
        vicinity (list): The list to store the vicinity (address or neighborhood) of each result.

    Returns:
        tuple: A tuple containing the updated lists of business_type, location, name, place_id, rating,
               price_level, user_ratings_total, and vicinity.
    """
    for i in response.json()['results']:
        try:
            business_type.append(i['business_status'])
        except KeyError:
            business_type.append(np.nan)
        try:
            location.append(i['geometry']['location'])
        except KeyError:
            location.append(np.nan)
        try:
            name.append(i['name'])
        except KeyError:
            name.append(np.nan)
        try:
            place_id.append(i['place_id'])
        except KeyError:
            place_id.append(np.nan)
        try:
            raiting.append(i['rating'])
        except KeyError:
            raiting.append(np.nan)
        try:
            price_level.append(i['price_level'])
        except KeyError:
            price_level.append(np.nan)
        try:
            user_raitings_total.append(i['user_ratings_total'])
        except KeyError:
            user_raitings_total.append(np.nan)
        try:
            vicinity.append(i['vicinity'])
        except:
            vicinity.append(np.nan)
    return business_type, location, name, place_id, raiting, price_level, user_raitings_total, vicinity

In [ ]:
radius = 50
total_req = 0

business_type = []
location = []
name = []
place_id = []
raiting = []
price_level = []
user_raitings_total = []
vicinity = []
total_req = 0

for j in coordinates.columns[:1]:
    for i in coordinates[j][:2]:
        response = norm_req(i, radius, MY_APY_KEY, total_req)
        appending_responses(response)
        try:
            response = next_page_req(response, MY_APY_KEY, total_req)
            appending_responses(response)
            try:
                response = next_page_req(response, MY_APY_KEY, total_req)
                appending_responses(response)
            except:
                pass
        except:
            pass

In [39]:
my_data = {
    'name': name,
    'place_id': place_id,
    'business_status': business_type,
    'location': location,
    'raiting': raiting,
    'price_level': price_level,
    'total_reviews': user_raitings_total,
    'direction': vicinity
}
my_data = pd.DataFrame(my_data)

my_data = my_data.drop_duplicates(subset=['place_id', 'location']) # Dropping same restaurant in case I scrapped twice
my_data['latitud'] = my_data['location'].apply(lambda x: x.split(",")[0].split(":")[1].strip()) #Isolating the latitud
my_data['longitud'] = my_data['location'].apply(lambda x: x.split(",")[1].split(":")[1].strip()[:-1]) #Isolating the longitud
my_data.drop(columns='location', inplace=True)

my_data.to_csv('barc_restaurants.csv')

##### Getting the neightbourhood of each restaurant (using Mongo)

In [113]:
def get_barrios(long, lat):
    """
    Retrieves the name of the neighborhood (barrio) that intersects with the specified coordinates.

    Parameters:
    - lat (float): Latitude of the location.
    - long (float): Longitude of the location.

    Returns:
    - str: The name of the neighborhood (barrio) that intersects with the specified coordinates.
           If no intersection is found, it returns "Not found".
    """
    my_position = {"type": "Point", "coordinates": [long, lat]} # o al rev√©s

    result = df_barrios.find_one(
            {"geometry": 
                    {"$geoIntersects": 
                        {"$geometry": my_position}}
            })
    try:
        return result["properties"]["NOM"]
    except:
        return "Not found"

In [94]:
client = MongoClient("localhost:27017")
db = client["Search_Restaurants"]
df_barrios = db.get_collection("Neightbours")

In [122]:
my_data['neightbour'] = my_data.apply(lambda row: get_barrios(row['longitud'], row['latitud']), axis=1)

my_data.to_csv('barc_restaurants.csv')

### Get reviews details

In [ ]:
restaurants = pd.read_csv('barc_restaurants.csv')
place_reviews = {'place_id':[], 'reviews': [], 'reviews_rating': [], 'time': []}

count_yes = 0
count_no = 0
n = 0
for i in restaurants['place_id']:
    url = f"https://maps.googleapis.com/maps/api/place/details/json?place_id={i}&fields=reviews&language=en&reviews_no_translations=false&key={MY_APY_KEY}"
    response = requests.request("GET", url, headers=headers, data=payload)
    try:
        for j in response.json()['result']['reviews']:
            place_reviews['place_id'].append(i)
            place_reviews['reviews'].append(j['text'])
            place_reviews['reviews_rating'].append(j['rating'])
            place_reviews['time'].append(j['time'])
        count_yes += 1
        print('y', count_yes)
    except KeyError:
        place_reviews['place_id'].append(i)
        place_reviews['reviews'].append('No reviews available')
        place_reviews['reviews_rating'].append(np.nan)
        place_reviews['time'].append(np.nan)
        count_no+=1
        print('n', count_no)
    if (count_no+count_yes)%100 == 0:
        n+=1
        to_write = pd.DataFrame(place_reviews)
        to_write.to_csv(f'restaurants_reviews{n}.csv')
    else:
        pass

place_reviews = pd.DataFrame(place_reviews)
place_reviews.to_csv('restaurants_reviews.csv')

### Get extra details

In [ ]:
days = {
    '0': 'sun_hours'
    ,'1': 'mon_hours'
    ,'2': 'tue_hours'
    ,'3': 'wed_hours'
    ,'4': 'thu_hours'
    ,'5': 'fri_hours'
    ,'6': 'sat_hours'

}

restaurants = pd.read_csv('barc_restaurants.csv')
place_details = {'place_id':[], 'dine_in': [], 'reservable': [], 'serves_beer': [], 'serves_wine' :[], 'vegeterian': [], 'takeout': [], 'wheel_chair_acc': [], 
                 'mon_hours': [], 'tue_hours': [], 'wed_hours': [], 'thu_hours': [], 'fri_hours': [], 'sat_hours': [], 'sun_hours': []}

for i in restaurants['place_id']:
    url = f"https://maps.googleapis.com/maps/api/place/details/json?place_id={i}&fields=wheelchair_accessible_entrance%2Cdine_in%2Creservable%2Cserves_vegetarian_food%2Ctakeout%2Cserves_beer%2Cserves_wine%2Copening_hours&key={MY_APY_KEY}"
    response1 = requests.request("GET", url, headers=headers, data=payload)
    try:
        response = response1.json()['result']
        place_details['place_id'].append(i)
        try:
            place_details['dine_in'].append(response['dine_in'])
        except KeyError:
            place_details['dine_in'].append(np.nan)
        try:    
            place_details['reservable'].append(response['reservable'])
        except KeyError:
            place_details['reservable'].append(np.nan)
        try:
            place_details['serves_beer'].append(response['serves_beer'])
        except KeyError:
            place_details['serves_beer'].append(np.nan)
        try:
            place_details['serves_wine'].append(response['serves_wine'])
        except KeyError:
            place_details['serves_wine'].append(np.nan)
        try:
            place_details['vegeterian'].append(response['serves_vegetarian_food'])
        except KeyError:
            place_details['vegeterian'].append(np.nan)
        try:
            place_details['takeout'].append(response['takeout'])
        except KeyError:
            place_details['takeout'].append(np.nan)
        try:
            place_details['wheel_chair_acc'].append(response['wheelchair_accessible_entrance'])
        except KeyError:
            place_details['wheel_chair_acc'].append(np.nan)    
        count = 0
        try:
            a = response['opening_hours']['weekday_text']
            for j in response['opening_hours']['weekday_text']:
                place_details[days[str(count)]].append(j.split(": ", 1)[1].replace('\u202f', '').replace('\u2009', ''))
                count += 1
        except:
            for j in range(7):
                place_details[days[str(j)]].append(np.nan)
    except:
        pass

place_details = pd.DataFrame(place_details)
place_details.to_csv((f'place_details.csv'))

# Connection with SQL

In [33]:
def create_connection (schema):
    """
    Creates a connection to a MySQL database using the provided schema, table name, and DataFrame.

    Args:
        schema (str): The name of the database schema.
        table_name (str): The name of the table to connect to.
        df (pandas.DataFrame): The DataFrame containing the data to be inserted into the table.

    Returns:
        sqlalchemy.engine.Engine: The engine object representing the database connection.
    """
    dbName = schema
    password = os.getenv('workbench_pass')
    connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
    engine = alch.create_engine(connectionData)
    return engine

In [34]:
def upload_data_bulky(df, table_name, schema):
    """
    Uploads a DataFrame to a SQL database table using the specified schema.

    Parameters:
        df (pandas.DataFrame): The DataFrame to be uploaded.
        table_name (str): The name of the table in the database.
        schema (str): The schema of the database connection.

    Returns:
        None
    """

    df.to_sql(con=create_connection(schema), name=table_name, if_exists='replace')

In [127]:
df = pd.read_csv('barc_restaurants.csv')
df = df.drop(columns=['Unnamed: 0'])
df.to_sql(con=create_connection('search_restaurants'), name='restaurants_details', if_exists='replace')

5023

In [105]:
df_reviews = pd.read_csv('restaurants_reviews.csv', encoding='latin1')
df_reviews = df_reviews.drop(columns=['Unnamed: 0', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'])
df_reviews.to_sql(con=create_connection('search_restaurants'), name='restaurants_reviews', if_exists='replace')

24150

In [12]:
df_details = pd.read_csv('place_details.csv')
df_details = df_details.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])
df_details.to_sql(con=create_connection('search_restaurants'), name='restaurants_more_details', if_exists='replace')

5019

# Updating hours columns

In [288]:
df_details = pd.read_sql_query("""
SELECT * FROM restaurants_more_details""", create_connection('search_restaurants'), index_col='index')

In [267]:
def convert_time_to_decimal(time_string):
    time_object = datetime.strptime(time_string, "%I:%M%p")
    hour = time_object.hour
    minute = time_object.minute
    decimal_time = hour + minute / 60.0

    return decimal_time

In [268]:
def spliting_times(my_range):
    period_start = my_range.split('‚Äì')[0]
    period_finish = my_range.split('‚Äì')[1]
    if period_start[-2:] == 'AM' or period_start[-2:] == 'PM':
        pass
    else:
        period_start += period_finish[-2:]
 
    period_start = convert_time_to_decimal(period_start)
    period_finish = convert_time_to_decimal(period_finish)
    return np.arange(period_start, period_finish, 0.25)

In [269]:
def converting_times_to_ranges(row):
    if row == None:
        return np.nan

    elif row == 'Closed':
        return ['Closed']
    
    else:
        try:
            period_1 = row.split(",")[0].strip()
            hours_opened = spliting_times(period_1)
        except:
            return ['Issue']

        try:
            period_2 = row.split(",")[1].strip()
            hours_opened_2 = spliting_times(period_2)
            hours_opened = np.concatenate((hours_opened, hours_opened_2))
        except IndexError:
            pass
        
        try:
            period_3 = row.split(",")[2].strip()
            hours_opened_3 = spliting_times(period_3)
            hours_opened = np.concatenate((hours_opened, hours_opened_3))
        except IndexError:
            pass

        return hours_opened

In [270]:
df_details['mon_hours'] = df_details['mon_hours'].apply(lambda x: converting_times_to_ranges(x))

In [287]:
df_details.sample(5)

,place_id,dine_in,reservable,serves_beer,serves_wine,vegeterian,takeout,wheel_chair_acc,mon_hours,tue_hours,wed_hours,thu_hours,fri_hours,sat_hours,sun_hours
index,,,,,,,,,,,,,,,
429,ChIJR36toXeYpBIRGWifzaUeQi0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,[],7:30AM‚Äì12:00AM,7:30AM‚Äì12:00AM,7:30AM‚Äì1:00AM,7:00PM‚Äì1:00AM,Closed,7:30AM‚Äì12:00AM
1060,ChIJTSzGu4WipBIRkznre9Zwis0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,"[13.0, 13.25, 13.5, 13.75, 14.0, 14.25, 14.5, ...","1:00‚Äì4:30PM, 8:00PM‚Äì12:00AM","1:00‚Äì4:30PM, 8:00PM‚Äì12:00AM","1:00‚Äì4:30PM, 8:00PM‚Äì12:00AM",Closed,Closed,"1:00‚Äì4:30PM, 8:00PM‚Äì12:00AM"
2446,ChIJMar_o16ipBIRnWFD2MXe-OQ,1.0,1.0,1.0,1.0,0.0,1.0,1.0,[],9:00AM‚Äì12:00AM,9:00AM‚Äì12:00AM,9:00AM‚Äì1:00AM,9:00AM‚Äì1:00AM,10:00PM‚Äì12:00AM,9:00AM‚Äì12:00AM
4179,ChIJHZe0SRejpBIR8y22eSdxiOs,1.0,1.0,1.0,1.0,0.0,1.0,1.0,"[6.0, 6.25, 6.5, 6.75, 7.0, 7.25, 7.5, 7.75, 8...",6:00AM‚Äì6:00PM,6:00AM‚Äì6:00PM,6:00AM‚Äì7:00PM,8:00AM‚Äì12:30PM,Closed,6:00AM‚Äì6:00PM
1026,ChIJiYdVVWmjpBIRVW3Xe-SKsfw,1.0,1.0,1.0,1.0,0.0,NaN,NaN,[],5:00PM‚Äì3:00AM,5:00PM‚Äì3:00AM,5:00PM‚Äì3:00AM,5:00PM‚Äì3:00AM,5:00PM‚Äì3:00AM,5:00PM‚Äì3:00AM

In [289]:
df_details[df_details['place_id'] == 'ChIJiYdVVWmjpBIRVW3Xe-SKsfw']

,place_id,dine_in,reservable,serves_beer,serves_wine,vegeterian,takeout,wheel_chair_acc,mon_hours,tue_hours,wed_hours,thu_hours,fri_hours,sat_hours,sun_hours
index,,,,,,,,,,,,,,,
1026,ChIJiYdVVWmjpBIRVW3Xe-SKsfw,1.0,1.0,1.0,1.0,0.0,NaN,NaN,5:00PM‚Äì3:00AM,5:00PM‚Äì3:00AM,5:00PM‚Äì3:00AM,5:00PM‚Äì3:00AM,5:00PM‚Äì3:00AM,5:00PM‚Äì3:00AM,5:00PM‚Äì3:00AM

In [290]:
#Issue is when the time ends at the other day at the night (5PM -> 17; 3AM -> 3), so when doing the np.arange(17,3) it does not exists

converting_times_to_ranges('5:00PM‚Äì3:00AM')

array([], dtype=float64)